@model IEnumerable<Category>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Category List";
    int no = 1;
}
<nav class="navbar navbar-light mt-1">
    <a class="navbar-brand btn btn-outline-light" data-bs-toggle="modal"
       data-bs-target="#AddCategoryModel">
        Add
    </a>
</nav>
<div class="modal fade " id="AddCategoryModel" tabindex="-1" aria-labelledby="AddCategory" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLable">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row m-2">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtCategory"
                               name="category" placeholder="New Category" />
                        <div class="text-danger" id="divCategoryError"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddCategory" class="btn btn-primary">Add Category</button>

            </div>
        </div>
    </div>
</div>
<div class="border border-1 rounded border-secondary bg-dark text-white p-1 m-1">

    <div class="row fs-5 fw-bold">
        <div class="col-sm-2 m-1">Sr.No</div>
        <div class="col-sm-4 m-1">Name</div>

    </div>
    @foreach (Category each in Model)
    {
        <div class="row border border-1 rounded m-1 align-content-center fs-6 word-wrap bg-dark">
            <div class="col-sm-2 align-text-top pt-1">@no</div>
            <div class="col-sm-4  pt-1">@each.Name</div>
            <div class="col-sm-3 pt-1">
                @Html.ActionLink("Edit", "GetProducts", "Category", new { id = each.Id, },
                    new { @class = "btn btn-outline-info m-1" })
                <a asp-action="Edit" asp-router-id="@each.Id" class="btn btn-outline-info m-1">Edit</a>
                <a asp-action="Delete" asp-router-id="@each.Id" class="btn btn-outline-danger m-1">Delete</a>
            </div>
            @{             
                no = no + 1;

            }

        </div>
                    }

</div>

@section Scripts{

    <script>

        function IsBlank(input) {

            let value = input.val().trim();

            if (value == undefined || value == '')

                return true;

            return false;

        }

        function IsOnlyNumeric(input) {

            let value = input.val().trim();

            return isNaN(value);

        }

        $(document).ready(function () {

            $("#btnAddCategory").on("click", function () {

                $("#divCategoryError").text("");

                let category = $("#txtCategory");

                let blank = IsBlank(category);

                if (!blank) {

                    if (!IsOnlyNumeric(category)) {

                        $("#divCategoryError").text("Only numbers are not allowed");

                        return;

                    }

                    else {

                        $.post("/Category/AddCategory",

                            { name: category.val().trim() },

                            function (data) {

                                if (data) {

                                    alert("Sucess");

                                    window.location.href = "/Category/Index";



                                }

                                else {

                                    alert("Duplicate Category not allowed");

                                }

                            });

                    }

                }

                else {

                    $("#divCategoryError").text("Category Should not empty");

                    return;

                }

            })

        })

    </script>

}






